.container {
    display: flex;
    flex-direction: row;
    /* Main Axis */
    justify-content: center;
    /* Main Axis Horizontal*/
    align-items: center;
    /* Cross Axis Vertical*/
    flex-wrap: wrap;
}

#sidebar {
    width: 220px;
    border: 1px solid #333;
    color: white;
    padding: 20px;
    flex: 1;
}

#main {
    flex: 1;
    padding: 20px;
    border: 1px solid black;
}